@{
    ViewData["Title"] = "Home Page";
}

<center><img src="~/Background.jpg" alt="Work Tools" width=100% height=auto /></center>
<div class="jumbotron">
    <h1>FPT Training System</h1>
    <p class="lead">Welcome to our system.</p>
</div>

<div class="row">
    <div class="col">
        <div class="card text-white bg-secondary mb-3" style="max-width: 36rem;">
            <div class="card-header">User Management</div>
            <div class="card-body">
                
                <p class="card-text">The system can manage user accounts.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 36rem;">
            <div class="card-header">Course Management</div>
            <div class="card-body">
                
                <p class="card-text">The system can manage each course in detail.</p>
            </div>
        </div>
    </div>
</div>



