<div class="jumbotron">
    <h1>FPT Training System</h1>
    <p class="lead">Welcome staff.</p>
</div>
<center><img src="~/staff.png" style="max-width: auto; max-height: auto" /></center>

<br />
<div class="card border-primary mb-3" style="max-width: 72rem">
    <div class="card-header">About training staff role</div>
    <div class="card-body text-primary">
        <p class="card-text">- Training staff can create and manage trainee accounts.</p>
        <p class="card-text">- Training staff can search for trainees by their name and age.</p>
        <p class="card-text">- Training staff can create and manage course category.</p>
        <p class="card-text">- Training staff can manage courses.</p>
        <p class="card-text">- Training staff can assign Trainers/ Trainees to a course. And can remove courses from Trainers/ Trainees.</p>
        <p class="card-text">- Training staff can search Trainers/ Trainees by entering Enrolled Course Name.</p>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card border-success mb-3">
            <div class="card-header">Create Trainee account.</div>
            <div class="card-body text-success">
                <p class="card-text">Click the button below to create Trainee account.</p>
                <a class="nav-link btn btn-outline-success" asp-controller="TrainingStaffs" asp-action="CreateTrainee">Create</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-info mb-3">
            <div class="card-header">Management Trainee account.</div>
            <div class="card-body text-info">
                <p class="card-text">Click the button below to manage Trainee account.</p>
                <a class="nav-link btn btn-outline-info" asp-controller="TrainingStaffs" asp-action="ManageTrainee">Manage</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card border-primary mb-3">
            <div class="card-header">Manage Category.</div>
            <div class="card-body text-primary">
                <p class="card-text">Click the button below to manage Category.</p>
                <a class="nav-link btn btn-outline-primary" asp-controller="Categories" asp-action="Index">Manage</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-primary mb-3">
            <div class="card-header">Manage Course.</div>
            <div class="card-body text-primary">
                <p class="card-text">Click the button below to manage Category.</p>
                <a class="nav-link btn btn-outline-primary" asp-controller="Courses" asp-action="Index">Manage</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card border-warning mb-3">
            <div class="card-header">Assign Trainer.</div>
            <div class="card-body text-warning">
                <p class="card-text">Click the button below to assign Trainer.</p>
                <a class="nav-link btn btn-outline-warning" asp-controller="TrainingStaffs" asp-action="ViewTrainer">Assign</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-warning mb-3">
            <div class="card-header">Assign Trainee.</div>
            <div class="card-body text-warning">
                <p class="card-text">Click the button below to assign Trainee.</p>
                <a class="nav-link btn btn-outline-warning" asp-controller="TrainingStaffs" asp-action="ViewTrainee">Assign</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card border-secondary mb-3">
            <div class="card-header">View Trainer/Trainee in Course.</div>
            <div class="card-body text-secondary">
                <form asp-controller="TrainingStaffs" asp-action="SearchCourse" >
                    <div class="input-group ">
                        <input class="form-control mr-sm-2 " type="text" placeholder="Search by course " aria-label="Search" name="SearchString">
                        <input class="form-control mr-sm-2 " type="text" placeholder="Trainer/Trainee " aria-label="Search" name="role">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
