@model IEnumerable<AppDevGCD0805.Models.AssignTrainerCourse>

<h1>Course</h1>

<main>

    <form asp-controller="TrainingStaffs" asp-action="SearchCourse" method="post">
        <div class="input-group col-md-6">
            <input class="form-control mr-sm-2 col-md-4" type="text" placeholder="Search by name" aria-label="Search" name="SearchString">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <br>

    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Course Name</th>
                <th scope="col">Trainer</th>
                <th scope="col">Trainee in course</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Course.Name</td>
                    <td>@item.TrainerProfile.User.FullName</td>
                    <td>@Html.ActionLink("Trainee", "TraineeInCourse", "TrainingStaffs", new { id = item.CourseId }, new { @class = "btn btn-info" })</td>
                </tr>
            }

        </tbody>
    </table>

    <center><a class="nav-link btn btn-outline-primary col-3 fas fa-reply" asp-controller="TrainingStaffs" asp-action="Index">   Back to previous page</a></center>
</main>