@model AppDevGCD0805.Models.Category



<h1>Create page</h1>

<form asp-controller="Categories" asp-action="Create" method="post">
    <div class="form-group">
        <label>Name of category</label>
        <input type="text" class="form-control" placeholder="Input name" asp-for="Name">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" placeholder="Description input" asp-for="Description">
    </div>
    <button type="submit" class="btn btn-outline-success">Create</button>
</form>
